body{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23edc0f2' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
   
div {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}
.card-title {
  color: purple;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.addScreen {
  display: block;
  margin: auto;
  padding: 10px;
}

#console-box{
  position:relative;
  height:300px;
  width:40%;
  background-color:#000;
  color: #55ff55;
  font-family: monospace;
  padding:6px; 
  margin: 2% auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #161616;
  font-size: 14px;
}
